# https://www.yuque.com/lwmacct/github/gh
# gh variable set -f .env

DEPLOY_SSH_HOST=examples.com
DEPLOY_SSH_PORT=22
DEPLOY_SSH_USERNAME=root
DEPLOY_SCRIPT=/data/deploy/action.sh

PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=postgres
PGSSLMODE=disable

REDIS_URL=redis://localhost:6379/0
REDISCLI_AUTH=your_redis_password
